*{
	font-family: 'Bebas neue', cursive;
	font-weight: 100;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.header{
	position: fixed;
	display: block;
	width: 100%;
	height: 6vh;
	border-bottom: 1px solid black;
	background: #fff;
	z-index: 200;
}
.header img{
	object-fit: contain;
	height: 100%;
	margin: auto;
	display: block;
}

.titulo p{
	display: block;
	position: relative;
	color: black;
	font-size: 5vw;
	top: 10vh;
	text-align: center;
}

.imagen{
	width: 100%;
}
.imagen img{
	position: relative;
	top: 15vh;
	left: 25%;
	width: 50%;
	height: 50%;
	margin: auto;
}
.imagen:active{
	transform: scaleX(-1);

}

.jordan-text{
	display: flex;
	width: 100%;
	position: relative;
	top: 20vh;
	height: 300px;
}
.jordan-text p{
	display: flex;
	justify-content: center;
	font-size: 20px;
	width: 100%;
	height: 100%;
	text-align: center;
	align-items: center;
	padding:25px;
	

}
.jordan-text img{
	display: flex;
	align-items: center;
	object-fit: scale-down;
	float: right;
	width: 100%;
	height: 100%;
	min-width: 50%;
}

.nike-text{
	display: flex;
	width: 100%;
	position: relative;
	height: 300px;
	top: 40vh;
}

.nike-text img{
	display: flex;
	align-items: ;
	object-fit: scale-down;
	float: left;
	width: 100%;
	height: 100%;
	min-width: 50%;
	align-items: center;
	padding: 25px;
}
.nike-text p{
	display: flex;
	font-size: 20px;
	width: 100%;
	height: 100%;
	text-align: center;
	align-items: center;
	padding:25px;
}



